.img {
        background-image: url(../imag/g.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
  
       padding-bottom: 20cm;
       

       
        
}

 .textenter{
  color: rgb(7, 7, 7);
  text-shadow: 2px 2px 5px black;
  position: absolute;
  left: 3cm; 
  bottom: 19cm;    
 }
 .paragrafo{
        position: absolute;
        left: 15cm;
        bottom: 7cm; 
        color: rgb(5, 5, 5);
        background-color: rgba(230, 230, 231, 0.781);
        border-style: solid;
        border-color: rgba(243, 243, 247, 0.534);
        padding: 15px;
        padding-left:1cm;
        text-shadow: 2px 2px 5px black;
        
        
 }
 h1{
       font-family: 'Roboto Slab', serif;
       color: white;
       text-shadow: 2px 2px 5px black;
       position: absolute;
       left: 19cm;
       

 }
 h2{
       width: fit-content;
       border-bottom: 7px #666 solid;
       font-family: 'Roboto Slab', serif;
      
 }
 .oquee{
        background-color: rgb(85, 85, 85);
 }

 /* body{
        background-color: rgba(155, 151, 151, 0.658);
 } */